<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S2T1">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">fn</a></td>
<td>Output</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S3T2">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">x</a></td>
<td>Input</td><td class="watchsize" id="9">1 x 8</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S4T1">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">runlength</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S5T43">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">parameters</a></td>
<td>Local</td><td class="watchsize" id="27">8 x 5</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T23">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">items</a></td>
<td>Local</td><td class="watchsize" id="22">5 x 9</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S7T1">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">nProducts</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S8T1">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">numberkey</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T1">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">numbernk</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S10T1">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">Tmax</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S11T3">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">bk</a></td>
<td>Local</td><td class="watchsize" id="26">8 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S12T29">
<td id="blank"></td><td>11</td>
<td id=""><a href="#">Orders</a></td>
<td>Local</td><td class="watchsize" id="21">5 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S15T35">
<td id="blank"></td><td>12</td>
<td id=""><a href="#">itemAvailability</a></td>
<td>Local</td><td class="watchsize" id="36"><b>:</b>100 x <b>:</b>1000</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S16T3">
<td id="blank"></td><td>13</td>
<td id=""><a href="#">Inventory</a></td>
<td>Local</td><td class="watchsize" id="26">8 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S17T1">
<td id="blank"></td><td>14</td>
<td id=""><a href="#">Profit</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S18T1">
<td id="blank"></td><td>15</td>
<td id=""><a href="#">ProfitAfter20</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S19T1">
<td id="blank"></td><td>16</td>
<td id=""><a href="#">nGen</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S20T33">
<td id="blank"></td><td>17</td>
<td id=""><a href="#">Arrival</a></td>
<td>Local</td><td class="watchsize" id="23">5 x 10000</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S21T11">
<td id="blank"></td><td>18</td>
<td id=""><a href="#">OandA</a></td>
<td>Local</td><td class="watchsize" id="24">5 x 10001</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S23T1">
<td id="blank"></td><td>19</td>
<td id=""><a href="#">k</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S26T34">
<td id="blank"></td><td>20</td>
<td id=""><a href="#">A</a></td>
<td>Local</td><td class="watchsize" id="6">1 x 5</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S28T26">
<td id="blank"></td><td>21</td>
<td id=""><a href="#">ProdTime</a></td>
<td>Local</td><td class="watchsize" id="19">1 x 20000</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S30T24">
<td id="blank"></td><td>22</td>
<td id=""><a href="#">ProdTimeKey</a></td>
<td>Local</td><td class="watchsize" id="18">1 x 10000</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S31T1">
<td id="blank"></td><td>23</td>
<td id=""><a href="#">p</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S32T24">
<td id="blank"></td><td>24</td>
<td id=""><a href="#">ProdTimeNonKey</a></td>
<td>Local</td><td class="watchsize" id="18">1 x 10000</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S33T1">
<td id="blank"></td><td>25</td>
<td id=""><a href="#">q</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S34T1">
<td id="blank"></td><td>26</td>
<td id=""><a href="#">prevMinTime</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S36T1">
<td id="blank"></td><td>27</td>
<td id=""><a href="#">minTime</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S37T1">
<td id="blank"></td><td>28</td>
<td id=""><a href="#">j</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S38T1">
<td id="blank"></td><td>29</td>
<td id=""><a href="#">minProd</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S40T1">
<td id="blank"></td><td>30</td>
<td id=""><a href="#">maxEntries</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S41T1">
<td id="blank"></td><td>31</td>
<td id=""><a href="#">i</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S43T1">
<td id="blank"></td><td>32</td>
<td id=""><a href="#">sizeIA</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S45T48">
<td id="blank"></td><td>33</td>
<td id=""><a href="#">tmp</a></td>
<td>Local</td><td class="watchsize" id="33">8 x <b>:</b>1001</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S46T1">
<td id="blank"></td><td>34</td>
<td id=""><a href="#">keyavail</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
