<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,1" id="srcline1">  1</a></span><span class="line"><span class="comment">%   ***************************************</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,2" id="srcline2">  2</a></span><span class="line"><span class="comment">%   *** Code written by German Gutierrez***</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,3" id="srcline3">  3</a></span><span class="line"><span class="comment">%   ***         gg92@cornell.edu        ***</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,4" id="srcline4">  4</a></span><span class="line"><span class="comment">%   ***************************************</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,5" id="srcline5">  5</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,6" id="srcline6">  6</a></span><span class="line"><span class="comment">%Returns Profit and Profit after T = 20.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,7" id="srcline7">  7</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S2T1U3">fn</span> = <span class="message error" id="M1F1C"><span class="message error" id="M2F1C">cAssembleOrder</span></span>(<span class="var type1" id="S3T2U6">x</span>, <span class="var type1" id="S4T1U7">runlength</span>)<span class="comment">%, seed)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,8" id="srcline8">  8</a></span><span class="line"><span class="comment">% function [fn, FnVar, FnGrad, FnGradCov, constraint, ConstraintCov, ConstraintGrad, ConstraintGradCov] = AssembleOrder(x, runlength, seed, other);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,9" id="srcline9">  9</a></span><span class="line"><span class="comment">% x is a vector containing the amounts of intermediate products to be processed ahead of time </span></span></span>
<span class="srcline"><span class="lineno"><a href="1,10" id="srcline10"> 10</a></span><span class="line"><span class="comment">% runlength is the number of hours of simulated time to simulate</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,11" id="srcline11"> 11</a></span><span class="line"><span class="comment">% seed is the index of the substreams to use (integer &gt;= 1)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,12" id="srcline12"> 12</a></span><span class="line"><span class="comment">% other is not used</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,13" id="srcline13"> 13</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,14" id="srcline14"> 14</a></span><span class="line"><span class="comment">% main simulation</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,15" id="srcline15"> 15</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,16" id="srcline16"> 16</a></span><span class="line"><span class="mxinfo" id="T43:U4"><span class="var type1" id="S5T43U10">parameters</span> = <span class="mxinfo" id="T43:U6">[  1,      2,      .15,   .0225,   20;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,17" id="srcline17"> 17</a></span><span class="line"><span class="mxinfo" id="T43:U4"><span class="mxinfo" id="T43:U6">                2,      2,      .40,    .06,    20;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,18" id="srcline18"> 18</a></span><span class="line"><span class="mxinfo" id="T43:U4"><span class="mxinfo" id="T43:U6">                3,      2,      .25,    .0375,  20;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,19" id="srcline19"> 19</a></span><span class="line"><span class="mxinfo" id="T43:U4"><span class="mxinfo" id="T43:U6">                4,      2,      .15,    .0225,  20;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,20" id="srcline20"> 20</a></span><span class="line"><span class="mxinfo" id="T43:U4"><span class="mxinfo" id="T43:U6">                5,      2,      .25,    .0375,  20;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,21" id="srcline21"> 21</a></span><span class="line"><span class="mxinfo" id="T43:U4"><span class="mxinfo" id="T43:U6">                6,      2,      .08,    .012,   20;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,22" id="srcline22"> 22</a></span><span class="line"><span class="mxinfo" id="T43:U4"><span class="mxinfo" id="T43:U6">                7,      2,      .13,    .0195,  20;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,23" id="srcline23"> 23</a></span><span class="line"><span class="mxinfo" id="T43:U4"><span class="mxinfo" id="T43:U6">                8,      2,      .40,    .06,    20]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,24" id="srcline24"> 24</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,25" id="srcline25"> 25</a></span><span class="line"><span class="mxinfo" id="T23:U7"><span class="var type1" id="S6T23U62">items</span> = <span class="mxinfo" id="T23:U9">[   3.6,    1,  0,  0,  1,  0,  1,  1,  0;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,26" id="srcline26"> 26</a></span><span class="line"><span class="mxinfo" id="T23:U7"><span class="mxinfo" id="T23:U9">            3,      1,  0,  0,  0,  1,  1,  1,  0;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,27" id="srcline27"> 27</a></span><span class="line"><span class="mxinfo" id="T23:U7"><span class="mxinfo" id="T23:U9">            2.4,    0,  1,  0,  1,  0,  1,  0,  0;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,28" id="srcline28"> 28</a></span><span class="line"><span class="mxinfo" id="T23:U7"><span class="mxinfo" id="T23:U9">            1.8,    0,  0,  1,  1,  0,  1,  0,  1;</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,29" id="srcline29"> 29</a></span><span class="line"><span class="mxinfo" id="T23:U7"><span class="mxinfo" id="T23:U9">            1.2,    0,  0,  1,  0,  1,  1,  1,  0]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,30" id="srcline30"> 30</a></span><span class="line"><span class="comment">%Both matrices as defined in problem statement</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,31" id="srcline31"> 31</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,32" id="srcline32"> 32</a></span><span class="line"><span class="comment">%Any proposed solution must satisfy bk&lt;=ck </span></span></span>
<span class="srcline"><span class="lineno"><a href="1,33" id="srcline33"> 33</a></span><span class="line"><span class="mxinfo" id="T1:U10"><span class="var type1" id="S7T1U116">nProducts</span>=<span class="mxinfo" id="T1:U12">5</span></span>; <span class="mxinfo" id="T1:U13"><span class="var type1" id="S8T1U120">numberkey</span>=<span class="mxinfo" id="T1:U15">6</span></span>; <span class="mxinfo" id="T1:U16"><span class="var type1" id="S9T1U124">numbernk</span>=<span class="mxinfo" id="T1:U18">2</span></span>;            <span class="comment">%# of products, key items and non key items respectively.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,34" id="srcline34"> 34</a></span><span class="line"><span class="mxinfo" id="T1:U19"><span class="var type1" id="S10T1U128">Tmax</span>=<span class="var type1" id="S4T1U129">runlength</span></span>; <span class="comment">%70                                         %Length of simulation</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,35" id="srcline35"> 35</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,36" id="srcline36"> 36</a></span><span class="line"><span class="mxinfo" id="T3:U22"><span class="var type1" id="S11T3U132">bk</span>=<span class="mxinfo" id="T3:U24"><span class="var type1" id="S3T2U134">x</span>'</span></span>; <span class="comment">% Starting Sol: parameters(:,5)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,37" id="srcline37"> 37</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,38" id="srcline38"> 38</a></span><span class="line"><span class="mxinfo" id="T29:U26"><span class="var type1" id="S12T29U137">Orders</span>=<span class="mxinfo" id="T29:U28">zeros(<span class="mxinfo" id="T1:U29"><span class="var type1" id="S7T1U140">nProducts</span></span>,1)</span></span>;                       <span class="comment">%Next order arrival times</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,39" id="srcline39"> 39</a></span><span class="line"><span class="comment">% ItemAvailability contains the time at which a replenishment order for a</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,40" id="srcline40"> 40</a></span><span class="line"><span class="comment">% given item(row) will be ready.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,41" id="srcline41"> 41</a></span><span class="line">coder.varsize(<span class="string">'itemAvailability'</span>,[1e2,1e3]);</span></span>
<span class="srcline"><span class="lineno"><a href="1,42" id="srcline42"> 42</a></span><span class="line"><span class="mxinfo" id="T35:U31"><span class="var type1" id="S15T35U154">itemAvailability</span>=<span class="mxinfo" id="T3:U33">zeros(<span class="mxinfo" id="T1:U34"><span class="var type1" id="S8T1U158">numberkey</span>+<span class="var type1" id="S9T1U159">numbernk</span></span>,1)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,43" id="srcline43"> 43</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,44" id="srcline44"> 44</a></span><span class="line"><span class="mxinfo" id="T3:U37"><span class="var type1" id="S16T3U163">Inventory</span>= <span class="var type1" id="S11T3U164">bk</span></span>;   <span class="comment">%Tracks available inventory for each item</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,45" id="srcline45"> 45</a></span><span class="line"><span class="mxinfo" id="T1:U40"><span class="var type1" id="S17T1U167">Profit</span>=<span class="mxinfo" id="T1:U42">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,46" id="srcline46"> 46</a></span><span class="line"><span class="mxinfo" id="T1:U43"><span class="var type1" id="S18T1U171">ProfitAfter20</span>=<span class="mxinfo" id="T1:U45">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,47" id="srcline47"> 47</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,48" id="srcline48"> 48</a></span><span class="line"><span class="mxinfo" id="T1:U46"><span class="var type1" id="S19T1U175">nGen</span>=<span class="mxinfo" id="T1:U48">10000</span></span>; <span class="comment">%number of generated outputs</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,49" id="srcline49"> 49</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,50" id="srcline50"> 50</a></span><span class="line"><span class="mxinfo" id="T33:U49"><span class="var type1" id="S20T33U179">Arrival</span>=<span class="mxinfo" id="T33:U51">zeros(<span class="mxinfo" id="T1:U52"><span class="var type1" id="S7T1U182">nProducts</span></span>,<span class="mxinfo" id="T1:U54"><span class="var type1" id="S19T1U183">nGen</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,51" id="srcline51"> 51</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,52" id="srcline52"> 52</a></span><span class="line"><span class="comment">%randn('state',seed);rand('twister',seed);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,53" id="srcline53"> 53</a></span><span class="line"><span class="comment">%Generate time of next order arrival per product</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,54" id="srcline54"> 54</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,55" id="srcline55"> 55</a></span><span class="line"><span class="mxinfo" id="T11:U56"><span class="var type1" id="S21T11U186">OandA</span> = <span class="mxinfo" id="T11:U58">rand(<span class="var type1" id="S7T1U189">nProducts</span>, <span class="var type1" id="S19T1U191">nGen</span>+1)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,56" id="srcline56"> 56</a></span><span class="line"><span class="keyword">for</span> <span class="var type1" id="S23T1U195">k</span>=<span class="mxinfo" id="T1:U62">1</span>:<span class="var type1" id="S7T1U198">nProducts</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,57" id="srcline57"> 57</a></span><span class="line">    <span class="mxinfo" id="T1:U64"><span class="mxinfo" id="T1:U65"><span class="var type1" id="S12T29U202">Orders</span>(<span class="var type1" id="S23T1U203">k</span>,<span class="mxinfo" id="T1:U68">1</span>)</span>=<span class="mxinfo" id="T1:U69"><span class="mxinfo" id="T1:U70">-<span class="mxinfo" id="T1:U71">log(<span class="mxinfo" id="T1:U72"><span class="var type1" id="S21T11U210">OandA</span>(<span class="var type1" id="S23T1U211">k</span>,<span class="mxinfo" id="T1:U75">1</span>)</span>)</span></span>/<span class="mxinfo" id="T1:U76"><span class="var type1" id="S6T23U214">items</span>(<span class="var type1" id="S23T1U215">k</span>,<span class="mxinfo" id="T1:U79">1</span>)</span></span></span>;<span class="comment">%exprnd(1/items(k,1));</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,58" id="srcline58"> 58</a></span><span class="line">    <span class="mxinfo" id="T24:U80"><span class="mxinfo" id="T24:U81"><span class="var type1" id="S20T33U220">Arrival</span>(<span class="var type1" id="S23T1U221">k</span>,:)</span>=<span class="mxinfo" id="T24:U84"><span class="mxinfo" id="T24:U85">-<span class="mxinfo" id="T24:U86">log(<span class="mxinfo" id="T24:U87"><span class="var type1" id="S21T11U228">OandA</span>(<span class="var type1" id="S23T1U229">k</span>,<span class="mxinfo" id="T54:U90"><span class="mxinfo" id="T1:U91">2</span>:<span class="mxinfo" id="T1:U92">end</span></span>)</span>)</span></span>/<span class="mxinfo" id="T1:U93"><span class="var type1" id="S6T23U235">items</span>(<span class="var type1" id="S23T1U236">k</span>,<span class="mxinfo" id="T1:U96">1</span>)</span></span></span>;<span class="comment">%exprnd(1/items(k,1),1,nGen);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,59" id="srcline59"> 59</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,60" id="srcline60"> 60</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,61" id="srcline61"> 61</a></span><span class="line"><span class="mxinfo" id="T34:U97"><span class="var type1" id="S26T34U240">A</span>=<span class="mxinfo" id="T34:U99">ones(<span class="mxinfo" id="T1:U100">1</span>,<span class="mxinfo" id="T1:U101"><span class="var type1" id="S7T1U244">nProducts</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,62" id="srcline62"> 62</a></span><span class="line"><span class="mxinfo" id="T26:U103"><span class="var type1" id="S28T26U247">ProdTime</span> = <span class="mxinfo" id="T26:U105">randn(1,2*<span class="var type1" id="S19T1U253">nGen</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,63" id="srcline63"> 63</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,64" id="srcline64"> 64</a></span><span class="line"><span class="mxinfo" id="T24:U107"><span class="var type1" id="S30T24U256">ProdTimeKey</span>= <span class="mxinfo" id="T24:U109"><span class="var type1" id="S28T26U258">ProdTime</span>(<span class="mxinfo" id="T1:U111">1</span>,<span class="mxinfo" id="T54:U112"><span class="mxinfo" id="T1:U113">1</span>:<span class="mxinfo" id="T1:U114"><span class="var type1" id="S19T1U262">nGen</span></span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,65" id="srcline65"> 65</a></span><span class="line"><span class="mxinfo" id="T1:U116"><span class="var type1" id="S31T1U265">p</span>=<span class="mxinfo" id="T1:U118">1</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,66" id="srcline66"> 66</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,67" id="srcline67"> 67</a></span><span class="line"><span class="comment">%Generate Uniforms used to generate orders</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,68" id="srcline68"> 68</a></span><span class="line"><span class="mxinfo" id="T24:U119"><span class="var type1" id="S32T24U269">ProdTimeNonKey</span>= <span class="mxinfo" id="T24:U121"><span class="var type1" id="S28T26U271">ProdTime</span>(<span class="mxinfo" id="T1:U123">1</span>,<span class="mxinfo" id="T54:U124"><span class="mxinfo" id="T1:U125"><span class="var type1" id="S19T1U275">nGen</span>+1</span>:<span class="mxinfo" id="T1:U127">end</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,69" id="srcline69"> 69</a></span><span class="line"><span class="mxinfo" id="T1:U128"><span class="var type1" id="S33T1U281">q</span>=<span class="mxinfo" id="T1:U130">1</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,70" id="srcline70"> 70</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,71" id="srcline71"> 71</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,72" id="srcline72"> 72</a></span><span class="line"><span class="mxinfo" id="T1:U131"><span class="var type1" id="S34T1U285">prevMinTime</span>=<span class="mxinfo" id="T1:U133">0</span></span>;      <span class="comment">%Holds the time of previous order fulfilled (to calculate holding cost)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,73" id="srcline73"> 73</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,74" id="srcline74"> 74</a></span><span class="line"><span class="comment">%**** Loop through orders, as they happened (smallest time first) and identify ****</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,75" id="srcline75"> 75</a></span><span class="line"><span class="comment">%**** whether key and non-key items are available, calculate profit, etc.     ****</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,76" id="srcline76"> 76</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,77" id="srcline77"> 77</a></span><span class="line"><span class="comment">%While there are orders to be satisfied.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,78" id="srcline78"> 78</a></span><span class="line"><span class="keyword">while</span>(<span class="mxinfo" id="T4:U134"><span class="mxinfo" id="T1:U135">min(<span class="var type1" id="S12T29U292">Orders</span>)</span>&lt;=<span class="var type1" id="S10T1U293">Tmax</span></span>)    </span></span>
<span class="srcline"><span class="lineno"><a href="1,79" id="srcline79"> 79</a></span><span class="line">    <span class="comment">% find next order to satisfy, i.e. smallest time of orders not yet</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,80" id="srcline80"> 80</a></span><span class="line">    <span class="comment">% satisfied.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,81" id="srcline81"> 81</a></span><span class="line">    <span class="mxinfo" id="T1:U138"><span class="var type1" id="S36T1U296">minTime</span>=<span class="var type1" id="S10T1U297">Tmax</span></span>;                            <span class="comment">%keeps track of minimum order time found so far.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,82" id="srcline82"> 82</a></span><span class="line">    <span class="keyword">for</span> <span class="var type1" id="S37T1U300">j</span>=<span class="mxinfo" id="T1:U142">1</span>:<span class="var type1" id="S7T1U303">nProducts</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,83" id="srcline83"> 83</a></span><span class="line">        <span class="keyword">if</span>(<span class="mxinfo" id="T4:U144"><span class="mxinfo" id="T1:U145"><span class="var type1" id="S12T29U309">Orders</span>(<span class="var type1" id="S37T1U310">j</span>)</span>&lt;=<span class="var type1" id="S36T1U311">minTime</span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,84" id="srcline84"> 84</a></span><span class="line">            <span class="mxinfo" id="T1:U149"><span class="var type1" id="S36T1U314">minTime</span>=<span class="mxinfo" id="T1:U151"><span class="var type1" id="S12T29U316">Orders</span>(<span class="var type1" id="S37T1U317">j</span>)</span></span>;                            <span class="comment">% Time of next order to fulfill</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,85" id="srcline85"> 85</a></span><span class="line">            <span class="mxinfo" id="T1:U154"><span class="var type1" id="S38T1U320">minProd</span>=<span class="var type1" id="S37T1U321">j</span></span>;                                    <span class="comment">% Product of next order to fulfill</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,86" id="srcline86"> 86</a></span><span class="line">        <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,87" id="srcline87"> 87</a></span><span class="line">    <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,88" id="srcline88"> 88</a></span><span class="line">    <span class="mxinfo" id="T1:U157"><span class="mxinfo" id="T1:U158"><span class="var type1" id="S12T29U325">Orders</span>(<span class="var type1" id="S38T1U326">minProd</span>)</span>=<span class="mxinfo" id="T1:U161"><span class="mxinfo" id="T1:U162"><span class="var type1" id="S12T29U329">Orders</span>(<span class="var type1" id="S38T1U330">minProd</span>)</span>+<span class="mxinfo" id="T1:U165"><span class="var type1" id="S20T33U332">Arrival</span>(<span class="var type1" id="S38T1U333">minProd</span>,<span class="mxinfo" id="T1:U168"><span class="var type1" id="S26T34U335">A</span>(<span class="var type1" id="S38T1U336">minProd</span>)</span>)</span></span></span>; <span class="comment">%generate time of next order</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,89" id="srcline89"> 89</a></span><span class="line">    <span class="mxinfo" id="T1:U171"><span class="mxinfo" id="T1:U172"><span class="var type1" id="S26T34U340">A</span>(<span class="var type1" id="S38T1U341">minProd</span>)</span>=<span class="mxinfo" id="T1:U175"><span class="mxinfo" id="T1:U176"><span class="var type1" id="S26T34U344">A</span>(<span class="var type1" id="S38T1U345">minProd</span>)</span>+<span class="mxinfo" id="T1:U179">1</span></span></span>; </span></span>
<span class="srcline"><span class="lineno"><a href="1,90" id="srcline90"> 90</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,91" id="srcline91"> 91</a></span><span class="line">    <span class="comment">%update inventory levels up to time of next order (order to be</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,92" id="srcline92"> 92</a></span><span class="line">    <span class="comment">%fulfilled in this iteration) i.e. add however many items are available</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,93" id="srcline93"> 93</a></span><span class="line">    <span class="comment">%by minTime.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,94" id="srcline94"> 94</a></span><span class="line">    <span class="mxinfo" id="T35:U180"><span class="var type1" id="S15T35U349">itemAvailability</span>=<span class="mxinfo" id="T49:U182">sort(<span class="var type1" id="S15T35U352">itemAvailability</span>,2)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,95" id="srcline95"> 95</a></span><span class="line">    <span class="mxinfo" id="T1:U184"><span class="var type1" id="S40T1U356">maxEntries</span>=<span class="mxinfo" id="T1:U186">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,96" id="srcline96"> 96</a></span><span class="line">    <span class="comment">%Delete all zero columns</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,97" id="srcline97"> 97</a></span><span class="line">    <span class="keyword">for</span> <span class="var type1" id="S41T1U360">i</span>=<span class="mxinfo" id="T1:U188">1</span>:<span class="var type1" id="S8T1U364">numberkey</span>+<span class="var type1" id="S9T1U365">numbernk</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,98" id="srcline98"> 98</a></span><span class="line">        <span class="keyword">if</span> <span class="mxinfo" id="T4:U191"><span class="mxinfo" id="T1:U192">nnz(<span class="mxinfo" id="T53:U193"><span class="var type1" id="S15T35U372">itemAvailability</span>(<span class="var type1" id="S41T1U373">i</span>,:)</span>)</span> &gt;= <span class="var type1" id="S40T1U375">maxEntries</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,99" id="srcline99"> 99</a></span><span class="line">            <span class="mxinfo" id="T1:U197"><span class="var type1" id="S40T1U378">maxEntries</span>=<span class="mxinfo" id="T1:U199">nnz(<span class="mxinfo" id="T53:U200"><span class="var type1" id="S15T35U382">itemAvailability</span>(<span class="var type1" id="S41T1U383">i</span>,:)</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,100" id="srcline100">100</a></span><span class="line">        <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,101" id="srcline101">101</a></span><span class="line">    <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,102" id="srcline102">102</a></span><span class="line">    <span class="mxinfo" id="T1:U203"><span class="var type1" id="S43T1U387">sizeIA</span>=<span class="mxinfo" id="T1:U205">size(<span class="var type1" id="S15T35U390">itemAvailability</span>,2)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,103" id="srcline103">103</a></span><span class="line">    <span class="keyword">if</span> <span class="mxinfo" id="T4:U207"><span class="var type1" id="S40T1U395">maxEntries</span>&gt;<span class="mxinfo" id="T1:U209">0</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,104" id="srcline104">104</a></span><span class="line">        <span class="mxinfo" id="T48:U210"><span class="var type1" id="S45T48U399">tmp</span> = <span class="mxinfo" id="T48:U212"><span class="var type1" id="S15T35U401">itemAvailability</span>(<span class="mxinfo" id="T4:U214"><span class="mxinfo" id="T1:U215">1</span>:<span class="mxinfo" id="T1:U216">end</span></span>,<span class="mxinfo" id="T4:U217"><span class="mxinfo" id="T1:U218"><span class="mxinfo" id="T1:U219"><span class="var type1" id="S43T1U409">sizeIA</span>-<span class="var type1" id="S40T1U410">maxEntries</span></span>+<span class="mxinfo" id="T1:U222">1</span></span>:<span class="mxinfo" id="T1:U223">end</span></span>)</span></span>;<span class="comment">%(1:end,1:sizeIA-maxEntries)=[];</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,105" id="srcline105">105</a></span><span class="line">        <span class="mxinfo" id="T35:U224"><span class="var type1" id="S15T35U416">itemAvailability</span> = <span class="var type1" id="S45T48U417">tmp</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,106" id="srcline106">106</a></span><span class="line">    <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,107" id="srcline107">107</a></span><span class="line">    <span class="mxinfo" id="T1:U227"><span class="var type1" id="S43T1U420">sizeIA</span>=<span class="mxinfo" id="T1:U229">size(<span class="var type1" id="S15T35U423">itemAvailability</span>,2)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,108" id="srcline108">108</a></span><span class="line">    <span class="comment">%Add inventory that is now ready to be used.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,109" id="srcline109">109</a></span><span class="line">    <span class="keyword">for</span> <span class="var type1" id="S41T1U427">i</span>=<span class="mxinfo" id="T1:U232">1</span>:<span class="var type1" id="S8T1U431">numberkey</span>+<span class="var type1" id="S9T1U432">numbernk</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,110" id="srcline110">110</a></span><span class="line">        <span class="keyword">for</span> <span class="var type1" id="S37T1U435">j</span>=<span class="mxinfo" id="T1:U236">1</span>:<span class="var type1" id="S43T1U438">sizeIA</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,111" id="srcline111">111</a></span><span class="line">            <span class="keyword">if</span>(<span class="mxinfo" id="T4:U238"><span class="mxinfo" id="T1:U239"><span class="var type1" id="S15T35U445">itemAvailability</span>(<span class="var type1" id="S41T1U446">i</span>,<span class="var type1" id="S37T1U447">j</span>)</span>~=<span class="mxinfo" id="T1:U243">0</span></span> &amp;&amp; <span class="mxinfo" id="T4:U244"><span class="mxinfo" id="T1:U245"><span class="var type1" id="S15T35U451">itemAvailability</span>(<span class="var type1" id="S41T1U452">i</span>,<span class="var type1" id="S37T1U453">j</span>)</span>&lt;=<span class="var type1" id="S36T1U454">minTime</span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,112" id="srcline112">112</a></span><span class="line">                <span class="mxinfo" id="T1:U250"><span class="mxinfo" id="T1:U251"><span class="var type1" id="S16T3U458">Inventory</span>(<span class="var type1" id="S41T1U459">i</span>)</span>=<span class="mxinfo" id="T1:U254"><span class="mxinfo" id="T1:U255"><span class="var type1" id="S16T3U462">Inventory</span>(<span class="var type1" id="S41T1U463">i</span>)</span>+<span class="mxinfo" id="T1:U258">1</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,113" id="srcline113">113</a></span><span class="line">                <span class="mxinfo" id="T1:U259"><span class="mxinfo" id="T1:U260"><span class="var type1" id="S15T35U468">itemAvailability</span>(<span class="var type1" id="S41T1U469">i</span>,<span class="var type1" id="S37T1U470">j</span>)</span>=<span class="mxinfo" id="T1:U264">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,114" id="srcline114">114</a></span><span class="line">            <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,115" id="srcline115">115</a></span><span class="line">        <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,116" id="srcline116">116</a></span><span class="line">    <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,117" id="srcline117">117</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,118" id="srcline118">118</a></span><span class="line">    <span class="comment">%if(all key items available) make product, calculate profit, update</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,119" id="srcline119">119</a></span><span class="line">    <span class="comment">%inventory and trigger replenishment orders</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,120" id="srcline120">120</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,121" id="srcline121">121</a></span><span class="line">    <span class="comment">%loop to check if all key items are available:</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,122" id="srcline122">122</a></span><span class="line">    <span class="mxinfo" id="T1:U265"><span class="var type1" id="S46T1U474">keyavail</span>=<span class="mxinfo" id="T1:U267">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,123" id="srcline123">123</a></span><span class="line">    <span class="keyword">for</span> <span class="var type1" id="S37T1U478">j</span>=<span class="mxinfo" id="T1:U269">1</span>:<span class="var type1" id="S8T1U481">numberkey</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,124" id="srcline124">124</a></span><span class="line">        <span class="keyword">if</span> <span class="mxinfo" id="T4:U271"><span class="mxinfo" id="T1:U272"><span class="var type1" id="S6T23U486">items</span>(<span class="var type1" id="S38T1U487">minProd</span>,<span class="mxinfo" id="T1:U275"><span class="var type1" id="S37T1U489">j</span>+<span class="mxinfo" id="T1:U277">1</span></span>)</span>&lt;=<span class="mxinfo" id="T1:U278"><span class="var type1" id="S16T3U492">Inventory</span>(<span class="var type1" id="S37T1U493">j</span>)</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,125" id="srcline125">125</a></span><span class="line">            <span class="mxinfo" id="T1:U281"><span class="var type1" id="S46T1U496">keyavail</span>=<span class="mxinfo" id="T1:U283"><span class="var type1" id="S46T1U498">keyavail</span>+<span class="mxinfo" id="T1:U285">1</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,126" id="srcline126">126</a></span><span class="line">        <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,127" id="srcline127">127</a></span><span class="line">    <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,128" id="srcline128">128</a></span><span class="line">    <span class="keyword">if</span>(<span class="mxinfo" id="T4:U286"><span class="var type1" id="S46T1U504">keyavail</span>==<span class="mxinfo" id="T1:U288"><span class="var type1" id="S8T1U505">numberkey</span></span></span>)             <span class="comment">%all key items available</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,129" id="srcline129">129</a></span><span class="line">        <span class="mxinfo" id="T1:U290"><span class="var type1" id="S17T1U508">Profit</span>=<span class="mxinfo" id="T1:U292"><span class="var type1" id="S17T1U510">Profit</span>+<span class="mxinfo" id="T1:U294"><span class="mxinfo" id="T44:U295"><span class="var type1" id="S6T23U513">items</span>(<span class="var type1" id="S38T1U514">minProd</span>,<span class="mxinfo" id="T45:U298"><span class="mxinfo" id="T1:U299">2</span>:<span class="mxinfo" id="T1:U300"><span class="var type1" id="S8T1U518">numberkey</span>+1</span></span>)</span>*<span class="var type1" id="S5T43U521">parameters</span>(1:<span class="var type1" id="S8T1U524">numberkey</span>,1)</span></span></span>;               <span class="comment">%Add profit made from making this product</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,130" id="srcline130">130</a></span><span class="line">        <span class="keyword">if</span>(<span class="mxinfo" id="T4:U304"><span class="var type1" id="S36T1U530">minTime</span>&gt;=<span class="mxinfo" id="T1:U306">20</span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,131" id="srcline131">131</a></span><span class="line">            <span class="comment">%To keep track of profit made after time 20</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,132" id="srcline132">132</a></span><span class="line">            <span class="mxinfo" id="T1:U307"><span class="var type1" id="S18T1U534">ProfitAfter20</span>=<span class="mxinfo" id="T1:U309"><span class="var type1" id="S18T1U536">ProfitAfter20</span>+<span class="mxinfo" id="T1:U311"><span class="mxinfo" id="T44:U312"><span class="var type1" id="S6T23U539">items</span>(<span class="var type1" id="S38T1U540">minProd</span>,<span class="mxinfo" id="T45:U315"><span class="mxinfo" id="T1:U316">2</span>:<span class="mxinfo" id="T1:U317"><span class="var type1" id="S8T1U544">numberkey</span>+1</span></span>)</span>*<span class="var type1" id="S5T43U547">parameters</span>(1:<span class="var type1" id="S8T1U550">numberkey</span>,1)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,133" id="srcline133">133</a></span><span class="line">        <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,134" id="srcline134">134</a></span><span class="line">        <span class="keyword">for</span> <span class="var type1" id="S23T1U554">k</span>=<span class="mxinfo" id="T1:U322">1</span>:<span class="var type1" id="S8T1U557">numberkey</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,135" id="srcline135">135</a></span><span class="line">            <span class="comment">% Decrease inventory and place replenishment orders for the amount of key items used</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,136" id="srcline136">136</a></span><span class="line">            <span class="keyword">if</span> <span class="mxinfo" id="T4:U324"><span class="mxinfo" id="T1:U325"><span class="var type1" id="S6T23U562">items</span>(<span class="var type1" id="S38T1U563">minProd</span>,<span class="mxinfo" id="T1:U328"><span class="var type1" id="S23T1U565">k</span>+<span class="mxinfo" id="T1:U330">1</span></span>)</span>==<span class="mxinfo" id="T1:U331">1</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,137" id="srcline137">137</a></span><span class="line">                <span class="mxinfo" id="T1:U332"><span class="mxinfo" id="T1:U333"><span class="var type1" id="S16T3U571">Inventory</span>(<span class="var type1" id="S23T1U572">k</span>)</span>=<span class="mxinfo" id="T1:U336"><span class="mxinfo" id="T1:U337"><span class="var type1" id="S16T3U575">Inventory</span>(<span class="var type1" id="S23T1U576">k</span>)</span>-<span class="mxinfo" id="T1:U340">1</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,138" id="srcline138">138</a></span><span class="line">                <span class="keyword">if</span> (<span class="mxinfo" id="T4:U341"><span class="mxinfo" id="T1:U342">size(<span class="var type1" id="S15T35U584">itemAvailability</span>,2)</span> &lt; <span class="mxinfo" id="T1:U344"><span class="var type1" id="S43T1U587">sizeIA</span> + <span class="mxinfo" id="T1:U346">1</span></span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,139" id="srcline139">139</a></span><span class="line">                <span class="mxinfo" id="T35:U347"><span class="var type1" id="S15T35U591">itemAvailability</span> = <span class="mxinfo" id="T48:U349">[<span class="var type1" id="S15T35U594">itemAvailability</span>,<span class="mxinfo" id="T3:U351">zeros(<span class="mxinfo" id="T1:U352">8</span>,1)</span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,140" id="srcline140">140</a></span><span class="line">                <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,141" id="srcline141">141</a></span><span class="line">                <span class="mxinfo" id="T1:U353"><span class="mxinfo" id="T1:U354"><span class="var type1" id="S15T35U602">itemAvailability</span>(<span class="var type1" id="S23T1U603">k</span>,<span class="mxinfo" id="T1:U357"><span class="var type1" id="S43T1U605">sizeIA</span>+<span class="mxinfo" id="T1:U359">1</span></span>)</span>=<span class="mxinfo" id="T1:U360"><span class="mxinfo" id="T1:U361">max(<span class="var type1" id="S36T1U610">minTime</span>,<span class="mxinfo" id="T1:U363"><span class="var type1" id="S15T35U612">itemAvailability</span>(<span class="var type1" id="S23T1U613">k</span>,<span class="var type1" id="S43T1U614">sizeIA</span>)</span>)</span>+(<span class="mxinfo" id="T1:U367"><span class="mxinfo" id="T1:U368"><span class="mxinfo" id="T1:U369"><span class="var type1" id="S5T43U619">parameters</span>(<span class="var type1" id="S23T1U620">k</span>,<span class="mxinfo" id="T1:U372">4</span>)</span>*<span class="mxinfo" id="T1:U373"><span class="var type1" id="S30T24U623">ProdTimeKey</span>(<span class="var type1" id="S31T1U624">p</span>)</span></span>+<span class="mxinfo" id="T1:U376"><span class="var type1" id="S5T43U626">parameters</span>(<span class="var type1" id="S23T1U627">k</span>,<span class="mxinfo" id="T1:U379">3</span>)</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,142" id="srcline142">142</a></span><span class="line">                <span class="mxinfo" id="T1:U380"><span class="var type1" id="S31T1U631">p</span>=<span class="mxinfo" id="T1:U382"><span class="var type1" id="S31T1U633">p</span>+<span class="mxinfo" id="T1:U384">1</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,143" id="srcline143">143</a></span><span class="line">            <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,144" id="srcline144">144</a></span><span class="line">        <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,145" id="srcline145">145</a></span><span class="line">        <span class="comment">% For each non-key item available, use it, decrease inventory, increase profit and place replenishment order.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,146" id="srcline146">146</a></span><span class="line">        <span class="keyword">for</span> <span class="var type1" id="S37T1U637">j</span>=<span class="mxinfo" id="T1:U386">1</span>:<span class="var type1" id="S9T1U640">numbernk</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,147" id="srcline147">147</a></span><span class="line">            <span class="keyword">if</span>(<span class="mxinfo" id="T4:U388"><span class="mxinfo" id="T1:U389"><span class="var type1" id="S6T23U647">items</span>(<span class="var type1" id="S38T1U648">minProd</span>,<span class="mxinfo" id="T1:U392"><span class="mxinfo" id="T1:U393"><span class="var type1" id="S37T1U651">j</span>+<span class="mxinfo" id="T1:U395"><span class="var type1" id="S8T1U652">numberkey</span></span></span>+<span class="mxinfo" id="T1:U397">1</span></span>)</span>&lt;=<span class="mxinfo" id="T1:U398"><span class="var type1" id="S16T3U655">Inventory</span>(<span class="mxinfo" id="T1:U400"><span class="var type1" id="S37T1U657">j</span>+<span class="mxinfo" id="T1:U402"><span class="var type1" id="S8T1U658">numberkey</span></span></span>)</span></span> &amp;&amp; <span class="mxinfo" id="T4:U404"><span class="mxinfo" id="T1:U405"><span class="var type1" id="S6T23U661">items</span>(<span class="var type1" id="S38T1U662">minProd</span>,<span class="mxinfo" id="T1:U408"><span class="mxinfo" id="T1:U409"><span class="var type1" id="S37T1U665">j</span>+<span class="mxinfo" id="T1:U411"><span class="var type1" id="S8T1U666">numberkey</span></span></span>+<span class="mxinfo" id="T1:U413">1</span></span>)</span>==<span class="mxinfo" id="T1:U414">1</span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,148" id="srcline148">148</a></span><span class="line">                <span class="comment">%Update profit, inventory and place replenishment orders</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,149" id="srcline149">149</a></span><span class="line">                <span class="mxinfo" id="T1:U415"><span class="var type1" id="S17T1U671">Profit</span>=<span class="mxinfo" id="T1:U417"><span class="var type1" id="S17T1U673">Profit</span>+<span class="mxinfo" id="T1:U419"><span class="var type1" id="S5T43U675">parameters</span>(<span class="mxinfo" id="T1:U421"><span class="var type1" id="S37T1U677">j</span>+<span class="mxinfo" id="T1:U423"><span class="var type1" id="S8T1U678">numberkey</span></span></span>,<span class="mxinfo" id="T1:U425">1</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,150" id="srcline150">150</a></span><span class="line">                <span class="mxinfo" id="T1:U426"><span class="mxinfo" id="T1:U427"><span class="var type1" id="S16T3U683">Inventory</span>(<span class="mxinfo" id="T1:U429"><span class="var type1" id="S37T1U685">j</span>+<span class="mxinfo" id="T1:U431"><span class="var type1" id="S8T1U686">numberkey</span></span></span>)</span>=<span class="mxinfo" id="T1:U433"><span class="mxinfo" id="T1:U434"><span class="var type1" id="S16T3U689">Inventory</span>(<span class="mxinfo" id="T1:U436"><span class="var type1" id="S37T1U691">j</span>+<span class="mxinfo" id="T1:U438"><span class="var type1" id="S8T1U692">numberkey</span></span></span>)</span>-<span class="mxinfo" id="T1:U440">1</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,151" id="srcline151">151</a></span><span class="line">                <span class="mxinfo" id="T1:U441"><span class="mxinfo" id="T1:U442"><span class="var type1" id="S15T35U697">itemAvailability</span>(<span class="mxinfo" id="T1:U444"><span class="var type1" id="S37T1U699">j</span>+<span class="mxinfo" id="T1:U446"><span class="var type1" id="S8T1U700">numberkey</span></span></span>,<span class="mxinfo" id="T1:U448"><span class="var type1" id="S43T1U702">sizeIA</span>+<span class="mxinfo" id="T1:U450">1</span></span>)</span>=<span class="mxinfo" id="T1:U451"><span class="mxinfo" id="T1:U452">max(<span class="var type1" id="S36T1U707">minTime</span>,<span class="mxinfo" id="T1:U454"><span class="var type1" id="S15T35U709">itemAvailability</span>(<span class="mxinfo" id="T1:U456"><span class="var type1" id="S37T1U711">j</span>+<span class="mxinfo" id="T1:U458"><span class="var type1" id="S8T1U712">numberkey</span></span></span>,<span class="var type1" id="S43T1U713">sizeIA</span>)</span>)</span>+(<span class="mxinfo" id="T1:U461"><span class="mxinfo" id="T1:U462"><span class="mxinfo" id="T1:U463"><span class="var type1" id="S5T43U718">parameters</span>(<span class="mxinfo" id="T1:U465"><span class="var type1" id="S37T1U720">j</span>+<span class="mxinfo" id="T1:U467"><span class="var type1" id="S8T1U721">numberkey</span></span></span>,<span class="mxinfo" id="T1:U469">4</span>)</span>*<span class="mxinfo" id="T1:U470"><span class="var type1" id="S32T24U724">ProdTimeNonKey</span>(<span class="var type1" id="S33T1U725">q</span>)</span></span>+<span class="mxinfo" id="T1:U473"><span class="var type1" id="S5T43U727">parameters</span>(<span class="mxinfo" id="T1:U475"><span class="var type1" id="S37T1U729">j</span>+<span class="mxinfo" id="T1:U477"><span class="var type1" id="S8T1U730">numberkey</span></span></span>,<span class="mxinfo" id="T1:U479">3</span>)</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,152" id="srcline152">152</a></span><span class="line">                <span class="mxinfo" id="T1:U480"><span class="var type1" id="S33T1U734">q</span>=<span class="mxinfo" id="T1:U482"><span class="var type1" id="S33T1U736">q</span>+<span class="mxinfo" id="T1:U484">1</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,153" id="srcline153">153</a></span><span class="line">                <span class="keyword">if</span>(<span class="mxinfo" id="T4:U485"><span class="var type1" id="S36T1U742">minTime</span>&gt;=<span class="mxinfo" id="T1:U487">20</span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,154" id="srcline154">154</a></span><span class="line">                    <span class="mxinfo" id="T1:U488"><span class="var type1" id="S18T1U746">ProfitAfter20</span>=<span class="mxinfo" id="T1:U490"><span class="var type1" id="S18T1U748">ProfitAfter20</span>+<span class="mxinfo" id="T1:U492"><span class="mxinfo" id="T1:U493"><span class="var type1" id="S5T43U751">parameters</span>(<span class="mxinfo" id="T1:U495"><span class="var type1" id="S37T1U753">j</span>+<span class="mxinfo" id="T1:U497"><span class="var type1" id="S8T1U754">numberkey</span></span></span>,<span class="mxinfo" id="T1:U499">1</span>)</span>*<span class="mxinfo" id="T1:U500"><span class="var type1" id="S6T23U757">items</span>(<span class="var type1" id="S38T1U758">minProd</span>,<span class="mxinfo" id="T1:U503"><span class="mxinfo" id="T1:U504"><span class="var type1" id="S37T1U761">j</span>+<span class="mxinfo" id="T1:U506"><span class="var type1" id="S8T1U762">numberkey</span></span></span>+<span class="mxinfo" id="T1:U508">1</span></span>)</span></span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,155" id="srcline155">155</a></span><span class="line">                <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,156" id="srcline156">156</a></span><span class="line">            <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,157" id="srcline157">157</a></span><span class="line">        <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,158" id="srcline158">158</a></span><span class="line">    <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,159" id="srcline159">159</a></span><span class="line">    <span class="mxinfo" id="T1:U509"><span class="var type1" id="S17T1U766">Profit</span>=<span class="mxinfo" id="T1:U511"><span class="var type1" id="S17T1U768">Profit</span>-<span class="mxinfo" id="T1:U513"><span class="mxinfo" id="T1:U514">sum(<span class="mxinfo" id="T1:U515"><span class="mxinfo" id="T2:U516"><span class="var type1" id="S16T3U774">Inventory</span>'</span>*<span class="var type1" id="S5T43U776">parameters</span>(:,2)</span>)</span>*(<span class="mxinfo" id="T1:U519"><span class="var type1" id="S36T1U781">minTime</span>-<span class="var type1" id="S34T1U782">prevMinTime</span></span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,160" id="srcline160">160</a></span><span class="line">    <span class="keyword">if</span>(<span class="mxinfo" id="T4:U522"><span class="var type1" id="S36T1U787">minTime</span>&gt;=<span class="mxinfo" id="T1:U524">20</span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,161" id="srcline161">161</a></span><span class="line">        <span class="mxinfo" id="T1:U525"><span class="var type1" id="S18T1U791">ProfitAfter20</span>=<span class="mxinfo" id="T1:U527"><span class="var type1" id="S18T1U793">ProfitAfter20</span>-<span class="mxinfo" id="T1:U529"><span class="mxinfo" id="T1:U530">sum(<span class="mxinfo" id="T1:U531"><span class="mxinfo" id="T2:U532"><span class="var type1" id="S16T3U799">Inventory</span>'</span>*<span class="var type1" id="S5T43U801">parameters</span>(:,2)</span>)</span>*(<span class="mxinfo" id="T1:U535"><span class="var type1" id="S36T1U806">minTime</span>-<span class="var type1" id="S34T1U807">prevMinTime</span></span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,162" id="srcline162">162</a></span><span class="line">    <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,163" id="srcline163">163</a></span><span class="line">    <span class="mxinfo" id="T1:U538"><span class="var type1" id="S34T1U810">prevMinTime</span>=<span class="var type1" id="S36T1U811">minTime</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,164" id="srcline164">164</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,165" id="srcline165">165</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,166" id="srcline166">166</a></span><span class="line"><span class="comment">%fn=Profit;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,167" id="srcline167">167</a></span><span class="line"><span class="mxinfo" id="T1:U541"><span class="var type1" id="S2T1U814">fn</span> = <span class="mxinfo" id="T1:U543"><span class="var type1" id="S18T1U816">ProfitAfter20</span>/<span class="mxinfo" id="T1:U545">50</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,168" id="srcline168">168</a></span><span class="line"><span class="keyword">end</span>        </span></span>
</pre>
